<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="org.kman.AquaMail" android:versionCode="2100355" android:versionName="1.2.5.5" android:sharedUserLabel="@string/shared_user_label" package="org.kman.AquaMail"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <permission android:name="org.kman.AquaMail.LICENSING" android:protectionLevel="signature" android:description="@string/licensing_permission_description" />
    <permission android:label="@string/data_get_accounts_label" android:name="org.kman.AquaMail.datax.GET_ACCOUNTS" android:protectionLevel="normal" android:description="@string/data_get_accounts_description" />
    <permission android:label="@string/data_read_messages_label" android:name="org.kman.AquaMail.datax.READ_MESSAGES" android:protectionLevel="normal" android:description="@string/data_read_messages_description" />
    <permission android:label="@string/data_message_actions_label" android:name="org.kman.AquaMail.datax.MESSAGE_ACTIONS" android:protectionLevel="normal" android:description="@string/data_message_actions_description" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:theme="@style/ThemeCompat.Default.Dark" android:label="@string/app_name" android:icon="@drawable/app_icon_my_own_light" android:name="org.kman.AquaMail.core.AquaMailApplication" android:description="@string/app_description_liveview" android:hardwareAccelerated="false" android:uiOptions="splitActionBarWhenNarrow">
        <activity android:theme="@style/AquaMailTheme.Dark" android:label="@string/app_name" android:name="org.kman.AquaMail.ui.AccountListActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="vnd.android.cursor.item/vnd.kman.mail.account" />
                <data android:mimeType="vnd.android.cursor.item/vnd.kman.mail.message" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable_global" />
        </activity>
        <activity android:label="@string/account_new_activity" android:name="org.kman.AquaMail.ui.AccountSetupActivity" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/account_new_activity" android:name="org.kman.AquaMail.ui.AccountSetupActivity$Light" />
        <activity android:label="@string/account_options_activity" android:name="org.kman.AquaMail.ui.AccountOptionsActivity" android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/account_options_activity" android:name="org.kman.AquaMail.ui.AccountOptionsActivity$Light" android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:label="@string/account_special_activity" android:name="org.kman.AquaMail.ui.AccountSpecialActivity" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/account_special_activity" android:name="org.kman.AquaMail.ui.AccountSpecialActivity$Light" />
        <activity android:label="@string/account_alias_list_title" android:name="org.kman.AquaMail.ui.AliasListActivity" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/account_alias_list_title" android:name="org.kman.AquaMail.ui.AliasListActivity$Light" />
        <activity android:label="@string/alias_list_menu_options" android:name="org.kman.AquaMail.ui.AliasOptionsActivity" android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/alias_list_menu_options" android:name="org.kman.AquaMail.ui.AliasOptionsActivity$Light" android:windowSoftInputMode="stateUnchanged|adjustResize" />
        <activity android:theme="@style/AquaMailTheme.Dark" android:label="@string/new_message_activity_new" android:name="org.kman.AquaMail.ui.NewMessageActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <data android:scheme="mailto" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Dark" android:label="@string/about_activity" android:name="org.kman.AquaMail.ui.AboutActivity" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Light" android:label="@string/about_activity" android:name="org.kman.AquaMail.ui.AboutActivity$Light" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/uilock_enter_pin_to_unlock" android:name="org.kman.AquaMail.lock.UIUnlockActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation" />
        <activity android:label="@string/account_backup_restore_activity" android:name="org.kman.AquaMail.ui.AccountBackupRestoreActivity" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/account_backup_restore_activity" android:name="org.kman.AquaMail.ui.AccountBackupRestoreActivity$Light" />
        <activity android:label="@string/preferences_activity" android:name="org.kman.AquaMail.prefs.PrefsActivity" />
        <activity android:theme="@style/ThemeCompat.Default.Light" android:label="@string/preferences_activity" android:name="org.kman.AquaMail.prefs.PrefsActivity$Light" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Dark" android:label="@string/preferences_activity" android:name="org.kman.AquaMail.prefs.GenericPrefsActivity" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Light" android:label="@string/preferences_activity" android:name="org.kman.AquaMail.prefs.GenericPrefsActivity$Light" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Dark" android:label="@string/account_options_preload_title" android:name="org.kman.AquaMail.prefs.AccountPreloadOptionsActivity" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Light" android:label="@string/account_options_preload_title" android:name="org.kman.AquaMail.prefs.AccountPreloadOptionsActivity$Light" />
        <activity android:label="@string/prefs_security_uilock" android:name="org.kman.AquaMail.prefs.UILockSetupActivity" />
        <activity android:label="@string/diag_dates_activity" android:name="org.kman.AquaMail.diag.MessageDatesActivity" />
        <service android:label="@string/service_name_command" android:name="org.kman.AquaMail.core.CommandService" android:exported="false" />
        <service android:label="@string/service_name_startsync" android:name="org.kman.AquaMail.core.StartSyncService" android:exported="false" />
        <service android:label="@string/service_name_keepalive" android:name="org.kman.AquaMail.core.KeepAliveService" android:exported="false" />
        <provider android:name="org.kman.AquaMail.data.MailProvider" android:exported="false" android:authorities="org.kman.AquaMail.data" />
        <provider android:name="org.kman.AquaMail.data.LicenseProvider" android:permission="org.kman.AquaMail.LICENSING" android:exported="true" android:authorities="org.kman.AquaMail.licensing" />
        <provider android:name="org.kman.AquaMail.datax.ExportedAccountsProvider" android:exported="true" android:authorities="org.kman.AquaMail.datax.accounts" />
        <provider android:name="org.kman.AquaMail.datax.ExportedMessagesProvider" android:permission="org.kman.AquaMail.datax.READ_MESSAGES" android:exported="true" android:authorities="org.kman.AquaMail.datax.messages" />
        <receiver android:name="org.kman.AquaMail.datax.ExportedMessageActionsReceiver" android:permission="org.kman.AquaMail.datax.MESSAGE_ACTIONS" android:exported="true">
            <intent-filter>
                <action android:name="org.kman.AquaMail.datax.MESSAGE_ACTION_DELETE" />
                <action android:name="org.kman.AquaMail.datax.MESSAGE_ACTION_MARK_READ" />
                <data android:mimeType="vnd.android.cursor.item/vnd.kman.mail.message" />
            </intent-filter>
        </receiver>
        <provider android:name="org.kman.AquaMail.datax.ExportedAttachmentProvider" android:exported="true" android:authorities="org.kman.AquaMail.datax.attachment" />
        <provider android:name="org.kman.AquaMail.data.MailSearchSuggestionProvider" android:exported="false" android:authorities="org.kman.AquaMail.SearchSuggestions" />
        <receiver android:label="@string/boot_receiver_name" android:name="org.kman.AquaMail.core.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/alarm_receiver_name" android:name="org.kman.AquaMail.core.AlarmReceiver">
            <intent-filter>
                <action android:name="org.kman.AquaMail.ALARM_TICK" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.kman.AquaMail.core.PushConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED" />
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="org.kman.AquaMail.ACTION_CONNECTIVITY" />
                <action android:name="org.kman.AquaMail.ACTION_RETRY_ERRORS" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.kman.AquaMail.core.KeepAliveReceiver">
            <intent-filter>
                <action android:name="org.kman.AquaMail.ACTION_KEEP_ALIVE" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.kman.AquaMail.core.KickSyncReceiver" android:enabled="false">
            <intent-filter>
                <action android:name="com.android.sync.SYNC_CONN_STATUS_CHANGED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.kman.AquaMail.KICK_SYNC" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.kman.AquaMail.core.MessageStatsManager$ActionReceiver">
            <intent-filter>
                <action android:name="org.kman.AquaMail.MESSAGE_ACTION_DELETE" />
                <action android:name="org.kman.AquaMail.MESSAGE_ACTION_MARK_READ" />
                <action android:name="org.kman.AquaMail.MESSAGE_ACTION_CANCEL" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/widget_name" android:name="org.kman.AquaMail.widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="org.kman.AquaMail.FOLDER_STATE_URI_CHANGE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_info" />
        </receiver>
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:label="@string/widget_name" android:name="org.kman.AquaMail.widget.WidgetConfigActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/list_widget_receiver_name" android:name="org.kman.AquaMail.widget.ListWidgetReceiver">
            <intent-filter>
                <action android:name="org.kman.AquaMail.FOLDER_STATE_URI_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:label="@string/list_widget_name_20_4x2" android:name="org.kman.AquaMail.widget.ListWidget_20$size_4x2" android:enabled="@bool/list_widget_20_1_4_enabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info_20_4x2" />
        </receiver>
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:name="org.kman.AquaMail.widget.ListWidgetConfigActivity_20$size_4x2" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/list_widget_name_20_4x3" android:name="org.kman.AquaMail.widget.ListWidget_20$size_4x3" android:enabled="@bool/list_widget_20_1_4_enabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info_20_4x3" />
        </receiver>
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:name="org.kman.AquaMail.widget.ListWidgetConfigActivity_20$size_4x3" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/list_widget_name_20_4x4" android:name="org.kman.AquaMail.widget.ListWidget_20$size_4x4" android:enabled="@bool/list_widget_20_1_4_enabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info_20_4x4" />
        </receiver>
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:name="org.kman.AquaMail.widget.ListWidgetConfigActivity_20$size_4x4" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/list_widget_name_20_5x5" android:name="org.kman.AquaMail.widget.ListWidget_20$size_5x5" android:enabled="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info_20_5x5" />
        </receiver>
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:name="org.kman.AquaMail.widget.ListWidgetConfigActivity_20$size_5x5" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <receiver android:label="@string/list_widget_name_hc" android:name="org.kman.AquaMail.widget.ListWidget_hc" android:enabled="@bool/list_widget_hc_enabled">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE_OPTIONS" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.kman.AquaMail.ACTION_LIST_ITEM_LAUNCH" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/list_widget_info_hc" />
        </receiver>
        <service android:label="@string/list_widget_name_hc" android:name="org.kman.AquaMail.widget.ListWidget_hc$WidgetService" android:permission="android.permission.BIND_REMOTEVIEWS" android:exported="true" />
        <activity android:theme="@style/ThemeCompat.Dialog.Dark" android:name="org.kman.AquaMail.widget.ListWidgetConfigActivity_hc" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <service android:label="@string/widget_update_service" android:name="org.kman.AquaMail.widget.WidgetUpdater$WidgetUpdateService" />
        <activity android:theme="@style/ThemeCompat.DialogWhenLarge.Dark" android:label="@string/locale_settings_plugin_name" android:icon="@drawable/app_icon_my_own_light" android:name="org.kman.AquaMail.locale.SettingsEditActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <receiver android:name="org.kman.AquaMail.locale.SettingsFireReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <service android:label="@string/liveview_service_label" android:name="org.kman.AquaMail.liveview.LiveViewService" android:exported="true">
            <intent-filter>
                <action android:name="org.kman.AquaMail.liveview.SERVICE_START_ACTION" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.kman.AquaMail.liveview.SERVICE_PUSH_ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <activity android:label="@string/liveview_prefs_title" android:name="com.sonyericsson.extras.liveview.plugins.PluginPreferences" android:exported="true" />
        <receiver android:name="com.sonyericsson.extras.liveview.plugins.PluginReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.sonyericsson.extras.liveview.LAUNCH_PLUGIN" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.kman.AquaMail.apps.ApexLauncher$Receiver" android:exported="true">
            <intent-filter>
                <action android:name="com.anddoes.launcher.UPDATE_COUNTER" />
            </intent-filter>
        </receiver>
        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="@dimen/multi_window_default_size_w" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="@dimen/multi_window_default_size_h" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="@dimen/multi_window_min_size_w" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="@dimen/multi_window_min_size_w" />
        <service android:label="@string/app_name" android:icon="@drawable/status_icon_sync_at_sign_only_new" android:name="org.kman.AquaMail.apps.DashClock" android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>
            <meta-data android:name="protocolVersion" android:value="1" />
            <meta-data android:name="description" android:value="@string/dashclock_app_description" />
            <meta-data android:name="settingsActivity" android:value=".apps.DashClockPrefsActivity" />
        </service>
        <activity android:label="@string/dashclock_prefs_activity" android:name="org.kman.AquaMail.apps.DashClockPrefsActivity" android:exported="true" />
        <activity android:theme="@style/Theme.Locale.Dialog" android:name="com.twofortyfouram.locale.MarketActivity" android:exported="true" />
    </application>
</manifest>