<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="21" android:versionName="2.1" package="com.guoku"
  xmlns:android="http://schemas.android.com/apk/res/android">


<uses-sdk android:minSdkVersion="9" android:maxSdkVersion="11" android:targetSdkVersion="11"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <instrumentation android:label="my app test" android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.guoku" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/guoku_icon" android:name="com.guoku.GuokuApplication" android:debuggable="true" android:allowBackup="true">
        <uses-library android:name="android.test.runner" />
        <activity android:theme="@style/NoActionBarAppTheme" android:name="com.guoku.ui.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="com.guoku.ui.MainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_entity" android:name="com.guoku.ui.entity.EntityActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_create_note" android:name="com.guoku.ui.entity.CreateNoteActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:label="@string/activity_label_note_detail" android:name="com.guoku.ui.entity.NoteDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.guoku.ui.WebPageActivity" />
        <activity android:name="com.guoku.ui.authentication.TaobaoAuthActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_complate_user" android:name="com.guoku.ui.authentication.ComplementUser" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_login" android:name="com.guoku.ui.authentication.LoginActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_register" android:name="com.guoku.ui.authentication.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_user" android:name="com.guoku.ui.user.UserActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_search" android:name="com.guoku.ui.main.SearchResultActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_search" android:name="com.guoku.ui.main.SearchActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_user" android:name="com.guoku.ui.user.SocialRelationActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_settings" android:name="com.guoku.ui.GuokuSettings" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE" />
            </intent-filter>
        </activity>
        <activity android:name="com.guoku.ui.main.AppRecommentActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_feedback" android:name="com.umeng.fb.ConversationActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/activity_label_feedback" android:name="com.umeng.fb.ContactActivity" android:screenOrientation="portrait" />
        <service android:name="com.umeng.common.net.DownloadingService" android:exported="true" android:process=":DownloadingService" />
        <meta-data android:name="UMENG_APPKEY" android:value="5279bf3656240b8271004a8a" />
        <meta-data android:name="UMENG_CHANNEL" android:value="kuan" />
    </application>
</manifest>
