<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="61" android:versionName="2.9.6" package="com.androidesk"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:resizeable="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <instrumentation android:label="my app test" android:name="android.test.InstrumentationTestRunner" android:targetPackage="com.androidesk" />
    <application android:label="@string/app_name" android:icon="@drawable/egg" android:name=".AndroideskApplication" android:debuggable="true">
        <uses-library android:name="android.test.runner" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name=".Androidesk" android:exported="true" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/shortcut_label" android:icon="@drawable/icon2" android:name=".OnekeyWallpaperActivity" android:launchMode="singleInstance" android:finishOnCloseSystemDialogs="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".wxapi.WXEntryActivity" android:exported="true" android:launchMode="singleTop" />
        <activity android:label="@string/navigation_home" android:name=".navigation.NavigationHome" />
        <activity android:label="@string/navigation_explorer" android:name=".navigation.NavigationExplorer" />
        <activity android:label="@string/navigation_search" android:name=".navigation.NavigationSearch" />
        <activity android:label="@string/navigation_personal" android:name=".navigation.NavigationPersonal" />
        <activity android:label="@string/navigation_explorer" android:name=".navigation.NavigationSS" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_title" android:name=".setting.SettingsMainActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_wallpaperAutoChange" android:name=".setting.AutoChangeSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_downloadSetting" android:name=".setting.DownloadSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_wallpaperOneClick" android:name=".setting.OneKeySettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_moreSetting" android:name=".setting.MoreSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_help" android:name=".setting.HelpActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_help" android:name=".setting.PushSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_about" android:name=".setting.AboutActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/label_album" android:name=".album.LocalAlbumActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="自定义自动更换壁纸" android:name=".album.CustomPictureActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/label_wallpaper" android:name="com.androidesk.album.EnableMuiltSelectActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SET_WALLPAPER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_wallpaper" android:name=".album.LocalImageActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings3_wallpaper_crop_button" android:name=".crop.CropImage" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings3_wallpaper_crop_button" android:name=".crop.CropForPushWallpaper" android:taskAffinity="com.androidesk.push" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings3_wallpaper_crop_button" android:name=".crop.CropForPhotoWallpaper" android:taskAffinity="com.androidesk.photo_wallpaper" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".live.LocalLiveWallpaperActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/settings_guide" android:name=".setting.GuideActivity" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="剪裁头像" android:name=".upload.CropForPortrait" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/upphoto" android:label="上传头像" android:name=".upload.UploadPortraitActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:label="@string/shortcut_photo_wallpaper_label" android:icon="@drawable/icon2" android:name=".setting.PhotoWallpaperActivity" android:taskAffinity="com.androidesk.photo_wallpaper">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="@string/photo_wallpaer" android:name=".setting.PhotoWallpaperSettingActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="" android:name="CroPreViewImageActivity" android:taskAffinity="com.androidesk.photo_wallpaper" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="安卓壁纸推送" android:name="PushShowActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:label="安卓壁纸推送" android:name="PreviewImgActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".PreviewImageActivityForWidget" android:taskAffinity="com.androidesk.preview_for_widget" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".setting.WidgetGuideActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".setting.SamsungActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.Translucent.NoTitleBar" android:name=".ad.TransparentActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <activity android:theme="@style/Theme.No_Title_Dialog" android:name=".widget.WidgetActivity" android:launchMode="singleInstance" android:screenOrientation="portrait" />
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".webview.AndroideskWebView" android:launchMode="singleTask" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan" />
        <receiver android:label="@string/widget_name_large" android:name=".widget.AndroideskWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="com.androidesk.widget.click.setwallpaper" />
                <action android:name="com.androidesk.widget.click.refresh" />
                <action android:name="com.androidesk.widget.click.prev" />
                <action android:name="com.androidesk.widget.click.next" />
                <action android:name="com.androidesk.widget.click.thumb1" />
                <action android:name="com.androidesk.widget.click.thumb2" />
                <action android:name="com.androidesk.widget.click.thumb3" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/androidesk_widget" />
        </receiver>
        <receiver android:label="@string/widget_name_large_1" android:name=".widget.AndroideskLargeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="com.androidesk.widget.click.setwallpaper" />
                <action android:name="com.androidesk.widget.click.refresh" />
                <action android:name="com.androidesk.widget.click.prev" />
                <action android:name="com.androidesk.widget.click.next" />
                <action android:name="com.androidesk.widget.click.thumb1" />
                <action android:name="com.androidesk.widget.click.thumb2" />
                <action android:name="com.androidesk.widget.click.thumb3" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/androidesk_widget_large" />
        </receiver>
        <receiver android:label="@string/widget_name_small" android:name=".widget.AndroideskWidgetOnekayWallpaper">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.androidesk.widget.onekey.auto.change" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/androidesk_widget_onekey_wallpaper" />
        </receiver>
        <service android:name=".widget.WidgetService" />
        <service android:name=".test.observer.SDCardService" />
        <receiver android:name=".receiver.AutoWallpaperReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.androidesk.receiver.AutoWallpaperReceiver" />
                <action android:name="com.androidesk.widget.onekey.auto.change" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.androidesk.receiver.JinShanReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.androidesk.receiver.JinShanReceiver" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OnekeyDownloadReceiver">
            <intent-filter>
                <action android:name="ACTION_ONEKEY_DOWNLOAD" />
                <action android:name="ACTION_ONEKEY_DOWNLOAD_AND_SET" />
            </intent-filter>
        </receiver>
        <service android:label="@string/app_name" android:name="org.push.ClientService" android:process=":push.ClientService">
            <intent-filter android:priority="1000" />
        </service>
        <activity android:theme="@*android:style/Theme.NoTitleBar" android:name=".fb.ConversationActivity" android:launchMode="singleTask" android:screenOrientation="portrait" />
        <service android:name="com.umeng.common.net.DownloadingService" android:exported="true" android:process=":DownloadingService" />
        <meta-data android:name="91SMARTUPDATE_CHANNEL" android:value="108" />
        <meta-data android:name="UMENG_APPKEY" android:value="4e4a2bc6431fe312ef000010" />
        <meta-data android:name="UMENG_CHANNEL" android:value="lenovo" />
    </application>
</manifest>